@import "bourbon"
@import "vars.sass"
@import "fonts.sass"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden

.hidden
	display: none

h2 
	margin: 0

.nopadding 
	padding: 0 !important	
.blur 
	-webkit-filter: blur(7px)
  	filter: blur(7px) 


.top_section 
	background: url('../img/top.jpg') center top no-repeat
	&_nav 
		&_left 
			padding-top: 47px
			.skype_logo
				margin-left: 62px
			.skype_descr 
				font-size: 18px
				font-family: 'LatoRegular', sans-serif
				line-height: 20px
				color: #fff
				font-weight: normal
				font-style: normal
				font-stretch: normal
				letter-spacing: normal
				margin-left: 6px
				&:hover 
					text-decoration: none
					color: #a6db37
			&_chat 
				display: inline-block
				padding-left: 51px
				padding-right: 22px
				padding-top: 7px
				padding-bottom: 6px
				border: solid 2px #a6db37
				border-radius: 100px
				letter-spacing: normal
				text-align: center
				line-height: 1.43
				color: #a6db37
				font-family: 'LatoHeavy', sans-serif
				font-size: 14px
				text-transform: uppercase
				margin-left: 38px
				position: relative
				transition: 0.3s ease
				&:after 
					position: absolute
					content: ''
					width: 22px
					height: 22.4px 
					left: 23px
					background: url('../img/chat.svg') top center no-repeat
					top: 10px
				&:hover 
					color: #000
					text-decoration: none
					background: #a6db37
					box-shadow: 0 0 5px 0 rgba(166, 219, 55, 0.5)
					border: solid 2px #a6db37
				&:hover:after
					background: url('../img/chat_hov.svg') top center no-repeat


		&_title 
			font-family: 'LatoHeavy', sans-serif
			font-size: 14px
			text-transform: uppercase
			letter-spacing: 0.9px
			line-height: 18px
			color: #a6db37
			margin-top: 39px
			margin-bottom: 0
		&_social 
			margin-top: 9px
			&_item 
				display: inline-block
				margin-right: 21px
				cursor: pointer
				position: relative
				z-index: 3
				&:hover 
					span
						color: #53aff5
						position: relative
						z-index: 1
					&:first-child
						img 


				&:last-child 
					margin-right: 0
				span 
					font-family: 'LatoRegular', sans-serif
					font-size: 12px
					color:#5c7dbd
					line-height: 18px
.solution_section 
	padding-top: 36px
	&_problems 
		background: url('../img/border.svg') center top no-repeat
		background-size: contain
		padding-left: 53.9px
		padding-top: 72.4px
		position: relative
		padding-bottom: 83.8px
		&_title 
			font-family: 'BebasBold', sans-serif
			font-size: 62px
			letter-spacing: 2px
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			line-height: 0.97
			text-transform: uppercase
		&_subtitle
			margin: 0
			font-family: 'LatoBold', sans-serif
			font-size: 23px
			color: #53aff5
			line-height: 30px
			margin-bottom: 30.2px
		&_icon 
			width: 68.1px
			height: 74px
			background: url('../img/top_icon.svg') center -8px no-repeat			
			text-align: center
			padding-top: 17px
			line-height: 1.13
			position: absolute
			right: -15.1px
			top: -15.1px
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
			font-family: 'LatoBlack', sans-serif
			span 
				font-family: 'BebasBold', sans-serif
				font-size: 15px
				letter-spacing: 0.9px
				line-height: 1.29
				text-transform: uppercase

		&_boost 
			width: 398px
			max-width: 100%
			height: 305px
			background-image: linear-gradient(to right, rgba(7, 12, 25, 0.75), #221435)
			padding-top: 47px
			padding-left: 56.6px
			margin-right: 6.5px
			margin-top: 12px
			&_title 
				font-family: 'BebasBold', sans-serif
				margin-top: 0
				font-size: 62px
				letter-spacing: 2.4px
				color: #f2f9ff
				text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
				text-transform: uppercase
				line-height: 1.06
				margin-bottom: 15px

			&_button 
				display: block
				height: 52px
				width: 280px
				line-height: 52px
				border-radius: 2px
				background-color: #bafe2b
				box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.3)
				text-align: center
				font-family: 'BebasBold', sans-serif
				font-size: 24px
				text-transform: uppercase
				color: #000
				font-weight: bold
				font-style: normal
				font-stretch: normal
				letter-spacing: 1.5px
				transition: 0.2s ease
				&:hover 
					box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.51)
				&:active 
					text-decoration: none
					color: #000
				&:visited 
					text-decoration: none
					color: #000
				&:link 
					text-decoration: none
					color: #000										
				span 
					font-size: 30px
					letter-spacing: 1.9px
					font-weight: bold
					font-style: normal
					font-stretch: normal
					line-height: 0.67
				&:hover 
					color: #000
					text-decoration: none
				&:active 
					color: #000
					text-decoration: none		

.advantages_section 
	margin-top: 279.2px
	&_item 
		text-align: center
		margin-bottom: 101px
		&_image 

		&_title 
			text-shadow: 0 0 10px rgba(185, 254, 43, 0.2)
			color: #a6db37
			font-family: 'BebasBold', sans-serif
			line-height: 2.31
			font-size: 26px
			margin-top: 13px
			letter-spacing: 0.9px
			margin-bottom: 3px
		&_text 	
			color: #fff		
			font-family: 'LatoRegular', sans-serif
			font-size: 16px
			opacity: 0.7
			line-height: 1.69
			width: 354px
			max-width: 100%
			margin: auto


.products_section
	background: url('../img/prod_bg.jpg') center top no-repeat
	padding-top: 136px
	padding-bottom: 140px
	&_title 
		text-align: center
		letter-spacing: 2.1px
		line-height: 0.97
		font-size: 62px
		font-family: 'BebasBold', sans-serif
		color: #f2f9ff
		text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
		margin-top: 100px
		margin-bottom: 0
		span 
			color: #a6db37
	&_subtitle 
		text-align: center
		font-family: 'LatoRegular', sans-serif
		opacity: 0.7
		font-size: 16px
		line-height: 1.5
		color: #fff
		margin-top: 49px
	&_form 
		width: 585px
		margin: auto
		max-width: 100%
		margin-top: 18px
		input 
			display: block
			width: 280px
			height: 52px
			border: solid 2px rgba(255, 255, 255, 0.5)
			border-radius: 2px
			outline: none
			background: transparent
			margin-right: 20px
			max-width: 48%
			display: inline-block
			font-family: 'LatoRegular', sans-serif
			font-size: 14px
			text-indent: 18.5px
			color: #fff
			transition: 0.2s ease
			&::-webkit-input-placeholder 
				opacity: 0.4
				color: #fff
			&:-moz-placeholder
				color: #fff
				opacity: 0.4
			&:-ms-input-placeholder
				color: #fff
				opacity: 0.4
			&::-moz-placeholder
				color: #fff
				opacity: 0.4
			&:focus 
				border: solid 2px rgba(255, 255, 255, 0.85)
		button 
			border: solid 2px #a6db37
			border-radius: 2px
			color: #a6db37
			background: transparent
			width: 280px
			height: 52px
			max-width: 44%		
			display: inline-block	
			font-family: 'BebasBold', sans-serif
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 2px
			transition: 0.4s ease
			&:hover 
				background-color: #bafe2b
				box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.51)
				color: #000
				border: solid 2px #bafe2b
	&_item 
		text-align: center
		width: 324px
		position: relative
		margin: auto
		max-width: 100%
		padding-top: 1px
		background:  url('../img/prod1.jpg') center -16px no-repeat
		height: 412px
		cursor: pointer
		border: 4px solid transparent
		border-radius: 3px
		transition: 0.2s ease

		&:hover 
			border: 4px solid #a6db37
			box-shadow: 0 0 20px 0 rgba(185, 254, 43, 0.25)

		&_place 
			font-size: 28px
			font-family: 'BebasBold', sans-serif
			line-height: 2.14
			letter-spacing: 3.2px
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			margin-top: 23.3px
		&_type 
			margin-top: 126px
			font-family: 'BebasBold', sans-serif
			line-height: 1.09
			letter-spacing: 1.7px
			color: #f2f9ff
			font-size: 55px
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			margin-bottom: 0
		&_rate 
			font-family: 'LatoRegular', sans-serif
			font-size: 18px
			line-height: 1.67
			font-weight: normal
			letter-spacing: 1px
			color: #fff
		&_price 
			font-family: 'BebasBold', sans-serif
			font-size: 44px
			line-height: 1.59
			color: #a6db37
			text-shadow: 0 0 8px rgba(185, 254, 43, 0.3)	
			margin: 0
		&-big 
			background: url('../img/prod2.jpg') center -12px no-repeat
			width: 378px
			height: 485px
			position: relative
			bottom: 34.5px
			.products_section_item_place 
				margin-top: 21.1px
			.products_section_item_type
				margin-top: 196px




.raid_section 
	background: url('../img/raid_bg.jpg') center top no-repeat
	padding-top: 1px
	&_title 
		font-size: 62px
		font-family: 'BebasBold', sans-serif
		line-height: 0.97
		letter-spacing: 2.1px 
		color: #f2f9ff
		text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
		margin-top: 133px
		text-align: center
		span 
			color: #a6db37
	&_players
		margin-top: 50px
		&_item
			text-align: center
			cursor: pointer
			&:hover 
				.raid_section_players_name
					color: #a6db37
					text-shadow: 0 0 10px rgba(166, 219, 55, 0.32)
			&-left 
				width: 500px
				margin: auto
				.raid_section_players_name
					margin-left: 36px
				img 
					width: 464px
					height: 518px


			&-right
				width: 357px
				margin: auto
				.raid_section_players_name
					&:before
						background: url('../img/horde.png') center top no-repeat !important
				img 
					width: 346px
					height: 516px

		&_name 
			margin: auto
			font-family: 'LatoRegular', sans-serif
			font-size: 20px
			line-height: 3
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			transition: 0.2s ease 
			cursor: pointer
			position: relative
			&:before 
				content: ''
				position: absolute
				width: 42px
				height: 50px
				left: -50px
				top: -7px
				background: url('../img/alliance.png') center top no-repeat

.explanations_section
	padding-top: 118px
	overflow-x: hidden
	padding-bottom: 138px
	&_title 
		font-family: 'BebasBold', sans-serif
		font-size: 62px
		line-height: 0.97
		letter-spacing: 2.1px
		color: #f2f9ff
		text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
		span 
			color: #a6db37
	&_text 
		font-family: 'LatoRegular', sans-serif
		font-size: 15px
		opacity: 0.7
		line-height: 1.8
		color: #fff
		width: 423px
		max-width: 100%
		margin-top: 42px
		&:last-child 
			margin-top: 24px
	&_image
		margin-top: 30px

.form
	padding-top: 138px
	background: #0d111d url('../img/footer.svg') center top no-repeat
	padding-bottom: 140px
	&_title
		font-size: 62px
		font-family: 'BebasBold', sans-serif
		line-height: 0.97
		letter-spacing: 2.1px
		color: #f2f9ff
		text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
		text-align: center
		span 
			color: #a6db37
			text-shadow: 0 0 10px rgba(185, 254, 43, 0.3)
	&_subtitle 
		text-align: center
		font-family: 'LatoRegular', sans-serif
		opacity: 0.7
		font-size: 16px
		line-height: 1.5
		color: #fff
		margin-top: 49px
		margin-bottom: 42px
	form 
		width: 580px
		margin-top: 40px
		margin: auto
		max-width: 100%
		input 
			display: block
			width: 278px
			height: 52px
			border: solid 2px rgba(255, 255, 255, 0.5)
			border-radius: 2px
			outline: none
			background: transparent
			margin-right: 19px
			max-width: 48%
			display: inline-block
			font-family: 'LatoRegular', sans-serif
			font-size: 14px
			text-indent: 18.5px
			color: #fff
			box-sizing: border-box
			transition: 0.2s ease
			&:last-of-type
				margin-right: 0
			&::-webkit-input-placeholder 
				color: #fff
				font-family: 'LatoRegular', sans-serif
				opacity: 0.4
			&:-moz-placeholder
				color: #fff

			&:-ms-input-placeholder
				color: #fff

			&::-moz-placeholder
				color: #fff
			&:focus 
  				border: solid 2px rgba(255, 255, 255, 0.85)


		textarea 
			width: 580px
			max-width: 100%
			margin-top: 30px
			height: 98px
			padding-top: 10px
			border: solid 2px rgba(255, 255, 255, 0.5)
			border-radius: 2px
			outline: none
			background: transparent
			margin-right: 19px
			display: inline-block
			font-family: 'LatoRegular', sans-serif
			font-size: 14px
			color: #fff
			display: block	
			text-indent: 18.5px	
			resize: none
			transition: 0.2s ease
			&::-webkit-input-placeholder 
				color: #fff
				font-family: 'LatoRegular', sans-serif
				opacity: 0.4
			&:-moz-placeholder
				color: #fff

			&:-ms-input-placeholder
				color: #fff

			&::-moz-placeholder
				color: #fff	
			&:focus 
  				border: solid 2px rgba(255, 255, 255, 0.85)
		
		button 
			border: solid 2px #a6db37
			border-radius: 2px
			color: #a6db37
			background: transparent
			width: 280px
			height: 52px
			max-width: 44%		
			display: inline-block	
			font-family: 'BebasBold', sans-serif
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 2px
			margin-top: 30px
			transition: 0.2s ease
			&:hover 
				background-color: #bafe2b
				box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.51)
				color: #000
				border: solid 2px #bafe2b



footer 
	height: 123px
	border-top: 1px solid rgba(255, 255, 255, .12)
    -webkit-background-clip: padding-box
    background-clip: padding-box
	background: #0d111d url('../img/footer.svg') center top no-repeat
	span 
		line-height: 120px
		opacity: 0.7
		font-family: 'LatoRegular', sans-serif
		font-size: 14px
		color: #fff
	.footer_nav
		margin-top: 46px
		&_item 
			display: inline-block
			margin-right: 44.4px


.popup_wrapper 
	width: 100%
	height: 100%
	z-index: 50
	position: fixed
	background: url('../img/popup.png') center repeat
	display: none
	.popup_form 
		margin: auto
		background: url('../img/bg_form.png') -15% 0% no-repeat
		padding-left: 95px
		padding-top: 170px
		padding-bottom: 75px
		position: relative
		&_close
			position: absolute
			left: -62px
			top: 58px
			width: 32px
			height: 32px
			opacity: 0.8
			cursor: pointer
			&:hover 
				opacity: 1

			&:before,
			&:after
				position: absolute
				left: 15px
				content: ' '
				height: 36px
				width: 3px
				background-color: #98c937
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg) 
		&_title 
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			letter-spacing: 1.9px
			font-family: 'BebasBold', sans-serif
			text-transform: uppercase
			font-size: 90px
			line-height: 1.1
			span 
				text-shadow: 0 0 10px rgba(185, 254, 43, 0.3)
				color: #a6db37	
		&_text 
			font-family: 'LatoRegular', sans-serif
			font-size: 16px
			line-height: 1.75
			letter-spacing: normal
			color: #fff
			margin-top: 19px
			span 
				font-size: 18px
				font-family: 'LatoHeavy', sans-serif
				text-transform: uppercase
				color: #97d72b
				margin-left: 2px
		input 
			display: block
			width: 278px
			height: 52px
			border: solid 2px rgba(255, 255, 255, 0.5)
			border-radius: 2px
			outline: none
			background: transparent
			margin-right: 19px
			max-width: 48%
			display: inline-block
			font-family: 'LatoRegular', sans-serif
			font-size: 14px
			text-indent: 18.5px
			color: #fff
			box-sizing: border-box
			transition: 0.2s ease
			margin-top: 32px
			&:last-of-type
				margin-right: 0
			&::-webkit-input-placeholder 
				color: #fff
				font-family: 'LatoRegular', sans-serif
				opacity: 0.4
			&:-moz-placeholder
				color: #fff

			&:-ms-input-placeholder
				color: #fff

			&::-moz-placeholder
				color: #fff
			&:focus 
  				border: solid 2px rgba(255, 255, 255, 0.85)		
		button 
			border: solid 2px #a6db37
			border-radius: 2px
			color: #a6db37
			background: transparent
			width: 280px
			height: 52px
			max-width: 44%		
			display: inline-block	
			font-family: 'BebasBold', sans-serif
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 2px
			margin-top: 30px
			transition: 0.2s ease
			&:hover 
				background-color: #bafe2b
				box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.51)
				color: #000
				border: solid 2px #bafe2b
		.popup_form_cancel
			display: inline-block
			margin-left: 28px
			font-family: 'LatoRegular', sans-serif
			font-size: 16px
			color: #a6db37
			text-shadow: 0 0 10px rgba(185, 254, 43, 0.3)
			cursor: pointer
			&:hover 
				text-shadow: 0 0 10px rgba(185, 254, 43, 0.7)




	




