@import "bourbon"
@import "vars.sass"
@import "fonts.sass"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	overflow-x: hidden

.hidden
	display: none

h2 
	margin: 0

.nopadding 
	padding: 0 !important	

.top_section 
	background: url('../img/top.jpg') center top no-repeat
	&_nav 
		&_left 
			padding-top: 47px
			.skype_logo
				margin-left: 62px
			.skype_descr 
				font-size: 18px
				font-family: 'LatoRegular', sans-serif
				line-height: 20px
				color: #fff
				font-weight: normal
				font-style: normal
				font-stretch: normal
				letter-spacing: normal
				margin-left: 6px
			&_chat 
				display: inline-block
				padding-left: 51px
				padding-right: 22px
				padding-top: 7px
				padding-bottom: 6px
				border: solid 2px #a6db37
				border-radius: 100px
				letter-spacing: normal
				text-align: center
				line-height: 1.43
				color: #a6db37
				font-family: 'LatoHeavy', sans-serif
				font-size: 14px
				text-transform: uppercase
				margin-left: 38px
				position: relative
				&:after 
					position: absolute
					content: ''
					width: 22px
					height: 22.4px 
					left: 23px
					background: url('../img/chat.svg') top center no-repeat
					top: 10px
				&:hover 
					color: #a6db37
					text-decoration: none

		&_title 
			font-family: 'LatoHeavy', sans-serif
			font-size: 14px
			text-transform: uppercase
			letter-spacing: 0.9px
			line-height: 18px
			color: #a6db37
			margin-top: 39px
			margin-bottom: 0
		&_social 
			margin-top: 9px
			&_item 
				display: inline-block
				margin-right: 21px
				&:last-child 
					margin-right: 0
				span 
					font-family: 'LatoRegular', sans-serif
					font-size: 12px
					color:#5c7dbd
					line-height: 18px
.solution_section 
	padding-top: 36px
	&_problems 
		background: url('../img/border.svg') center top no-repeat
		background-size: contain
		padding-left: 53.9px
		padding-top: 72.4px
		position: relative
		padding-bottom: 83.8px
		&_title 
			font-family: 'BebasBold', sans-serif
			font-size: 62px
			letter-spacing: 2px
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			line-height: 0.97
			text-transform: uppercase
		&_subtitle
			margin: 0
			font-family: 'LatoBold', sans-serif
			font-size: 23px
			color: #53aff5
			line-height: 30px
			margin-bottom: 30.2px
		&_icon 
			width: 68.1px
			height: 74px
			background: url('../img/top_icon.svg') center -8px no-repeat			
			text-align: center
			padding-top: 17px
			line-height: 1.13
			position: absolute
			right: -15.1px
			top: -15.1px
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
			font-family: 'LatoBlack', sans-serif
			span 
				font-family: 'BebasBold', sans-serif
				font-size: 15px
				letter-spacing: 0.9px
				line-height: 1.29
				text-transform: uppercase

		&_boost 
			width: 398px
			max-width: 100%
			height: 305px
			background-image: linear-gradient(to right, rgba(7, 12, 25, 0.75), #221435)
			padding-top: 47px
			padding-left: 56.6px
			margin-right: 6.5px
			margin-top: 12px


			&_title 
				font-family: 'BebasBold', sans-serif
				margin-top: 0
				font-size: 62px
				letter-spacing: 2.4px
				color: #f2f9ff
				text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
				text-transform: uppercase
				line-height: 1.06
				margin-bottom: 15px

			&_button 
				display: block
				height: 52px
				width: 280px
				line-height: 52px
				border-radius: 2px
				background-color: #bafe2b
				box-shadow: 0 0 10px 0 rgba(185, 254, 43, 0.3)
				text-align: center
				font-family: 'BebasBold', sans-serif
				font-size: 24px
				text-transform: uppercase
				color: #000
				font-weight: bold
				font-style: normal
				font-stretch: normal
				letter-spacing: 1.5px
				span 
					font-size: 30px
					letter-spacing: 1.9px
					font-weight: bold
					font-style: normal
					font-stretch: normal
					line-height: 0.67
				&:hover 
					color: #000
					text-decoration: none
				&:active 
					color: #000
					text-decoration: none		

.advantages_section 
	margin-top: 279.2px
	&_item 
		text-align: center
		margin-bottom: 101px
		&_image 

		&_title 
			text-shadow: 0 0 10px rgba(185, 254, 43, 0.2)
			color: #a6db37
			font-family: 'BebasBold', sans-serif
			line-height: 2.31
			font-size: 26px
			margin-top: 13px
			letter-spacing: 0.9px
			margin-bottom: 3px
		&_text 	
			color: #fff		
			font-family: 'LatoRegular', sans-serif
			font-size: 16px
			opacity: 0.7
			line-height: 1.69
			width: 354px
			max-width: 100%
			margin: auto


.products_section
	background: url('../img/prod_bg.jpg') center top no-repeat
	padding-top: 136px
	padding-bottom: 140px
	&_title 
		text-align: center
		letter-spacing: 2.1px
		line-height: 0.97
		font-size: 62px
		font-family: 'BebasBold', sans-serif
		color: #f2f9ff
		text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
		margin-top: 100px
		margin-bottom: 0
		span 
			color: #a6db37
	&_subtitle 
		text-align: center
		font-family: 'LatoRegular', sans-serif
		opacity: 0.7
		font-size: 16px
		line-height: 1.5
		color: #fff
		margin-top: 49px
	&_form 
		width: 585px
		margin: auto
		max-width: 100%
		input 
			display: block
			width: 261.5px
			height: 52px
			border: solid 2px rgba(255, 255, 255, 0.5)
			border-radius: 2px
			outline: none
			background: transparent
			margin-right: 20px
			max-width: 48%
			display: inline-block
			font-family: 'LatoRegular', sans-serif
			opacity: 0.4
			font-size: 14px
			padding-left: 18.5px
			color: #fff
			&::-webkit-input-placeholder 
				margin-left: 20px
				color: #fff
			&:-moz-placeholder
				color: #fff
			&:-ms-input-placeholder
				color: #fff
			&::-moz-placeholder
				color: #fff
		button 
			border: solid 2px #a6db37
			border-radius: 2px
			color: #a6db37
			background: transparent
			width: 280px
			height: 52px
			max-width: 44%		
			display: inline-block	
			font-family: 'BebasBold', sans-serif
			font-size: 20px
			text-transform: uppercase
			letter-spacing: 2px
	&_item 
		text-align: center
		width: 324px
		margin: auto 
		max-width: 100%
		padding-top: 1px
		background:  url('../img/prod1.jpg') center -11px no-repeat
		height: 412px
		&_place 
			font-size: 28px
			font-family: 'BebasBold', sans-serif
			line-height: 2.14
			letter-spacing: 3.2px
			color: #f2f9ff
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			margin-top: 23.3px
		&_type 
			margin-top: 126px
			font-family: 'BebasBold', sans-serif
			line-height: 1.09
			letter-spacing: 1.7px
			color: #f2f9ff
			font-size: 55px
			text-shadow: 0 0 10px rgba(0, 144, 255, 0.6)
			margin-bottom: 0
		&_rate 
			font-family: 'LatoRegular', sans-serif
			font-size: 18px
			line-height: 1.67
			font-weight: normal
			letter-spacing: 1px
			color: #fff
		&_price 
			font-family: 'BebasBold', sans-serif
			font-size: 44px
			line-height: 1.59
			color: #a6db37
			text-shadow: 0 0 8px rgba(185, 254, 43, 0.3)	
			margin: 0
		&-big 
			background: url('../img/prod2.jpg') center -8px no-repeat
			width: 378px
			height: 485px
			position: relative
			bottom: 34.5px
			.products_section_item_place 
				margin-top: 21.1px
			.products_section_item_type
				margin-top: 196px





